.player-wrapper {
    width: auto; 
    height: auto;
  }
  .react-player {
    padding-top: 56.25%;
    position: relative;
  }
  
  .react-player > div {
    position: absolute;
  }

  pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
  }
  
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid green;
    color: rgb(16, 26, 2);
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: greenyellow;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }
